.highlight-section {
    margin-top: 20px;
  }
  
  .highlight-section h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .highlight-section p {
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 10px;
  }
 

  