.phanKhuA-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
}

.phanKhuA-card {
  width: calc((100% - 40px) / 3); 
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  .phanKhuA-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 4px;
  }
  
  .phanKhuA-label {
    color: #888;
    font-size: 14px;
    margin: 5px 0;
  }
 
  .phanKhuA-button {
    width: 100%; /* chiếm tràn ngang */
    background-color: #224B6F;
    display: flex;
    align-items: center;
    justify-content: center; /* căn giữa chữ */
    color: #fff;
    border: none;
    padding: 10px 0; /* padding ngang bây giờ để button tràn, padding dọc vẫn giữ */
    border-radius: 5px; /* bo tròn ở dưới nếu muốn */
    cursor: pointer;
    margin-top: 10px; /* nếu muốn cách nội dung phía trên */
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  
  .phanKhuA-button:hover {
    background-color: #e56b1a;
  }
  
  @media (max-width: 1024px) {
    .phanKhuA-container {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .phanKhuA-card {
      width: 45%;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .phanKhuA-card {
      width: 100%;
    }
  }
  